/* mobile 375px */

:root {
  --mobile-width: 376px;
  /* fonts-sizes */
  --h1-font-size: 56px;
  --h2-font-size: 48px;
  --h3-font-size: 40px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;
  --h1-line-height: 120%;
  --h2-line-height: 120%;
  --h3-line-height: 120%;
  --h4-line-height: 130%;
  --h5-line-height: 140%;
  --h6-line-height: 140%;
  --text-large-font-size: 20px;
  --text-medium-font-size: 18px;
  --text-regular-font-size: 16px;
  --text-small-font-size: 14px;
  --text-tiny-font-size: 12px;
  /* colors */
  --primary: #000000;
  --neutral-lighter: #cccccc;
  --white: #ffffff;
  --neutral-lightest: #eeeeee;
  --neutral-light: #aaaaaa;
  --neutral: #666666;
  --neutral-dark: #444444;
  --neutral-darker: #222222;
  --neutral-darkest: #111111;
  --success-green: #047a47;
  --success-green-light: #ecfcf3;
  --error-red: #b32419;
  --error-red-light: #fef2f2;
  /* gaps */
  --huge-gap: 112px;
  --large-gap: 64px;
  --big-gap: 48px;
  --middle-gap: 32px;
  --main-gap: 24px;
  --regular-gap: 16px;
  --small-gap: 8px;
  --tiny-gap: 4px;
  /* */
  --foreground-color: var(--primary);
  --background-color: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--white);
    --background-color: var(--primary);
  }
}

@media (max-width: 376px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 36px;
    --h3-font-size: 32px;
    --h4-font-size: 24px;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
    --h1-line-height: 120%;
    --h2-line-height: 120%;
    --h3-line-height: 120%;
    --h4-line-height: 140%;
    --h5-line-height: 140%;
    --h6-line-height: 140%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
}

a {
  font-size: var(--text-regular-font-size);
  line-height: 150%;
  letter-spacing: 0;
  color: inherit;
  text-decoration: none;
  text-wrap: nowrap;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
}

h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
}

p, span {
  line-height: 150%;
  letter-spacing: 0;
  text-decoration: none;
}